.title{
    text-align: center;
}

.label{
    font-size: 20px;
}

.form{
    background-color: rgb(164, 255, 247);
    border-radius: 30px;
    padding: 23px;
}

.form-control{
    border-radius: 10px;
}
